<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-outline button-stable" ng-click="vm.closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
      <form ng-submit="vm.doLogin()" name="vm.loginForm" novalidate >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" class="form-control input-sm" name="username" id="username" placeholder="Username" ng-model="vm.loginData.username" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" class="form-control input-sm" name="password" id="password" placeholder="Password" ng-model="vm.loginData.password" ng-required="true">
        </label>
        <div class="padding alert">
            <p ng-show="vm.error" >* {{vm.errorMessage}}</p>
            <p ng-show="vm.loginForm.username.$error.required && vm.loginForm.username.$dirty">* Username is required!</p>
            <p ng-show="vm.loginForm.password.$error.required && vm.loginForm.password.$dirty">* Password is required!</p>
        </div>
        <label class="padding">
          <button type="submit" class="button button-block button-positive">Sign in</button>
          <button type="submit" class="button button-block button-clear">Go to Register</button>

        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
