
<ion-view view-title="Dashboard">
  <ion-content>
    <div class="row" ng-controller="ActivateController as actCtrl">
      <div class="col text-center">
          <h5 class="dashboard">Dashboard </h5>
     </div>
   </div>
   <div class='row status-panel'>
      <div class="col text-center">
          <h5 class="">Account Name</h5>
          <p>{{vm.currentUser}}</p>
     </div>
     <div class="col text-center">
         <h5 class="">MQTT Status</h5>
         <p ng-show="vm.activated" class="beacon"></p>
         <p ng-show="!vm.activated" class="beacon deactive"></p>
    </div>
    <div class="col text-center">
        <h5 ng-show="!vm.activated" class="">Activate</h5>
        <h5 ng-show="vm.activated" class="">Deactivate</h5>
        <label class="toggle">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
          <!-- <button class="btn btn-sm btn-success" ng-click="actCtrl.openActivationModal()"> Active/Deactivate</button> -->

       </label>
     </div>
    </div>
        <div class="row">
          <div class="col">
            <div class="box devices" ng-controller="DeviceController as devCtrl" >
              <!-- <i class="fa fa-database" aria-hidden="true"></i> -->
              <p class="title">DEVICES</p>
              <p class="circle">{{vm.deviceData.length}}</p>
              <div class="plus-list">
                <!-- <span class="glyphicon glyphicon-plus" ng-click="devCtrl.openDeviceModal()"><small>ADD</small></span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" ng-controller="SensorController as senCtrl">
            <div class="box sensors">
              <!-- <i class="fa fa-database" aria-hidden="true"></i> -->
              <p class="title">SENSORS</p>
              <p class="circle">{{vm.sensorData.length}}</p>
              <div class="plus-list">
                <!-- <span class="glyphicon glyphicon-plus" ng-click="senCtrl.openSensorModal()"><small>ADD</small></span> -->
              </div>
            </div>
          </div>
       </div>
        <div class="row">
          <div class="col">
            <div class="box messages">
              <!-- <i class="fa fa-database" aria-hidden="true"></i> -->
              <p class="title">MESSAGES</p>
              <p class="circle">{{vm.messages}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="box alarms">
              <!-- <i class="fa fa-bell" aria-hidden="true"></i> -->
              <p class="title">ALARMS</p>
              <p class="circle">0</p>
              <div class="plus-list">
                <!-- <span class="glyphicon glyphicon-plus" ng-click="devCtrl.openDeviceModal()"><small>ADD</small></span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <div id="chart-container"></div>
            </div>
        </div>
  </ion-content>  <div class="bar bar-footer bar-dark">
    <div class="title">SenseIt</div>
    </div>
</ion-view>


<!--

         <div class="well">
           Tip!!
           To send a MQTT message from a sensor use the following format:
           <ul>
             <li>Payload: '{"d":{"temp": value,"humidity":value,...}}''</li>
             <li>Topic: 'mysensor/my_username/sensorId'</li>

           </ul>

         </div>
       </div>
      </div>
         <div class="row"> -->
           <!-- <div class="col-sm-2 box-livedata" ng-repeat="sensor in vm.liveData">
             <p class="sensorName text-center">{{sensor.sensorName}}<br><small>click on sample type to change chart</small></p>
              <div class="text-center" ng-repeat="data in sensor.payload">
               <p class="sensorData"><small><a ng-click="vm.updateChart(sensor._id,data.type)">{{data.type}}</a></small><br>&nbsp{{data.value}}</p>
             </div>
           </div>
        <div class="col-sm-3 col-md-4">
          <div class="box-account dataTable" >
          <table class="table table-bordered ">
            <caption>Sensor Info</caption>
            <thead>
              <tr>
                <th>Sensor Name</th>
                <th>Edit</th>
                <th>Delete</th>
             </tr>

          </thead>
          <tbody>
            <tr ng-repeat="sensor in vm.sensorData">
              <td>{{sensor.sensorName}}</td>
              <td ng-controller="SensorController as senCtrl" >
                <button class="btn btn-sm btn-primary" ng-click="senCtrl.openSensorEditModal(sensor._id)">Edit</button>
              </td>
              <td ng-controller="SensorController as senCtrl">
                <button class="btn btn-sm btn-warning" ng-click="senCtrl.openSensorDeleteModal(sensor._id)">Delete</button>
              </td>
          </tr>
          </tbody>
      </table>
     </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-md-4">
      <div class="box-account dataTable">
        <table class="table table-bordered">
          <caption>Device Info</caption>
          <thead>
            <tr>
              <th>Device Name</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody ng-controller="DeviceController as devCtrl">
          <tr ng-repeat="device in vm.deviceData">
            <td>{{device.deviceName}}</td>
            <td>
              <button class="btn btn-sm btn-primary" ng-click="devCtrl.openDeviceEditModal(device._id)">Edit</button>
            </td>
            <td>
              <button class="btn btn-sm btn-warning" ng-click="devCtrl.openDeviceDeleteModal(device._id)">Delete</button>
            </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
   </div>
  </div> -->
