
<ion-view title="SenseIt.io">
	<ion-content class="">
	<div class="main">
    <div class="row">
      <div class="col text-center">
        <h2 class="">SenseIt</h2>
        <h3><small>your sensor connected</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center" ng-controller="AuthController as vm">
        <button class="button  button-balanced" ng-click="vm.register()">
        Get Started
      </button>
      </div>
    </div>

    <div class="row">
      <div class="col text-center" ng-show="vm.loggedIn()">
        <button class="button  button-energized" ng-click="vm.goToDashboard()">
        Go to Dashboard
       </button>
      </div>
			<div class="col text-center" ng-show="!vm.loggedIn()" >
        <button ng-controller="AuthController as vm" class="button  button-energized" ng-click="vm.login()">
        Login
       </button>
      </div>
    </div>
	</div>

	<div class="example-box">
		 <div class="row">
			<div class="col-33 text-center">
				<p>Your Sensors</p>
				<i class="ion-wifi"></i>
			</div>
			<div class="col-33 text-center">
				<p>Web App</p>
				<i class="ion-ios-monitor-outline"></i>
			</div>
			<div class="col-33 text-center">
				<p>Mobile App</p>
				<i class="ion-android-phone-portrait"></i>
			</div>
		</div>
			<div class="col text-center">
				<h4>Monitor your remote Sensors from any device!</h4>
			</div>
	</div>

  </ion-content>
	<div class="bar bar-footer bar-dark">
    <div class="title">SenseIt</div>
  </div>
</ion-view>
