
  <div class="mymodal">
    <ion-modal-view class="logout-modal">
      <ion-header-bar>
        <h1 class="title">Logout</h1>
        <div class="buttons">
          <button class="button button-outline button-stable" ng-click="vm.closeLogout()">Close</button>
        </div>
      </ion-header-bar>
      <ion-content class="text-center" >
        <br><button type="button" class="button button-energized " ng-click="vm.doLogout()">Confirm Logout</button> &nbsp; &nbsp;
      </ion-content>
    </ion-modal-view>
    </div>
