
<div class="mymodal">
  <ion-modal-view class="sensor-modal-add">
  <ion-header-bar>
    <h1 class="title">{{vm.sensorTitle}}</h1>
    <div class="buttons">
      <button class="button button-outline button-stable" ng-click="vm.closeSensorAddModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content >
    <div class="" ng-show="!vm.sensorCreated">
      <form ng-submit="vm.addSensor(vm.sensorIdData,vm.deviceId)" name="vm.sensorForm" novalidate >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Sensor Name</span>
          <input type="text" class="" name="sensorName" id="sensorName" placeholder="Sensor Name" ng-model="vm.sensorIdData.sensorName" ng-required="true">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Sensor Type</span>
          <!--MAKE sensor LIST BE AN OBJECT READ FROM DATABASE FOR SCALABILITY AND ADMIN IN FUTURE -->
          <select class="" name="sensorType" ng-required="true" ng-model="vm.sensorIdData.sensorType.type">
            <option value="">Sensor type</option>
            <option value="Temperature">Temperature</option>
            <option value="Humidity">Humidity</option>
            <option value="Pressure">Pressure</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Sensor Unit</span>
          <!--MAKE sensor LIST BE AN OBJECT READ FROM DATABASE FOR SCALABILITY AND ADMIN IN FUTURE -->
          <select class="" name="sensorUnit" ng-required="true" ng-model="vm.sensorIdData.sensorType.units">
              <option value="">Sensor Unit</option>
              <option value="C">Deg Celcius</option>
              <option value="F">Deg Farenheit</option>
              <option value="%">Percentage (%)</option>
              <option value="mbar">Millibar</option>
              <option value="kPa">Kilo Pascal</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Connected to</span>
          <select class="" name="deviceId" ng-required="true" ng-model="vm.deviceId">
            <option  value="">Connected to device</option>
            <option  value="0">Standalone Sensor</option>
            <option ng-repeat="device in vm.deviceData" value="{{device._id}}">{{device.deviceName}}</option>
          </select>
        </label>
      </div>
        <div class="padding alert">
            <p ng-show="vm.error" >* {{vm.errorMessage}}</p>
            <p ng-show="vm.sensorForm.sensorName.$error.required && vm.sensorForm.sensorName.$dirty">* Username is required!</p>
            <p ng-show="vm.sensorForm.sensorType.$error.required && vm.sensorForm.sensorType.$dirty">* Sensor Type is required!</p>
            <p ng-show="vm.sensorForm.sensorUnit.$error.required && vm.sensorForm.sensorUnit.$dirty">* Sensor Unit is required!</p>
            <p ng-show="vm.sensorForm.deviceId.$error.required && vm.sensorForm.deviceId.$dirty">* Connected to is required!</p>
        </div>
        <label class="">
          <button type="submit" class="button button-block button-positive" ng-disabled="vm.sensorForm.$invalid">Add Device</button>
        </label>
        <button class="button button-block button-balanced" ng-click="vm.closeSensorAddModal()">Back To Dashboard</button>
    </form>
  </div>
  <div class="card" ng-show="vm.sensorCreated">
     <div class="item item-text-wrap">
      Please use the following MQTT Topic to publish data for sensor
      <strong>{{vm.sensorName}}</strong><br><br>
      <strong>Topic: </strong><em>{{vm.sensorTopic}}</em><br><br>
      <div class="notification text-center" ng-show="!vm.activated">
        Your account is not activated yet!!
      </div>
    <button type="button" class="button button-block button-balanced" ng-click="vm.closeSensorAddModal()">Go to Dashboard</button> &nbsp; &nbsp;
   </div>
  </div>
  </ion-content>
</ion-modal-view>
</div>
