$primary-color: #ffffff;
$secondary-color: #05264d;
$modal-background: #444;
$modal-text-color:#ffffff;
$modal-alert-color:red;

 // #11c1f3 calm
 // #387ef5 positive
 //#444 dark

#chart-container {
  width: 90%;
}
.mymodal .modal {
    min-height: 0 !important;
    border-radius:3% !important;
    background-color: $modal-background;
    ion-header-bar {
      background-color: $modal-background;
    }

    h1 {
      color: white;
    }

    ion-content {
      label {
        background-color: $modal-background !important;
        span { color: white !important;
        }

        input {
          color: white;
        }
      }
    }
}

.button {
  font-weight: bold;
}

.device-modal-add {
  width: 90%;
  height: 60%;
  top: 15%;
  bottom: 25%;
  right: 5%;
  left: 5%;

  select {
    background: $modal-background;
    color: $modal-text-color;
  }
}

.device-modal-edit {
  width: 90%;
  height: 80%;
  top: 20%;
  bottom: 20%;
  right: 5%;
  left: 5%;

  select {
    background: $modal-background;
    color: $modal-text-color;
  }
  p {
    color: $modal-text-color;
  }
}

.sensor-modal-add {
  width: 90%;
  height: 60%;
  top: 20%;
  bottom: 20%;
  right: 5%;
  left: 5%;

  select {
    background: $modal-background;
    color: $modal-text-color;
  }
  .card .item {
    background:lighten( $modal-background, 10% );
    color: white;
    .notification {
      margin-top: 10px;
      background-color:lighten( $modal-background, 20% );
      color: $modal-text-color;
      font-weight: bold;
      padding: 10px;
      border: 1px,solid,lighten( $modal-background, 30% );
    }
  }
}

.sensor-modal-delete {
  width: 90%;
  height: 35%;
  top: 20%;
  bottom: 20%;
  right: 5%;
  left: 5%;

}

.device-modal-delete  {
  width: 90%;
  height: 35%;
  top: 20%;
  bottom: 20%;
  right: 5%;
  left: 5%;

}



.login-modal {
    width: 90%;
    height: 50%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    left: 5%;
}

.activate-modal {
    width: 90%;
    height: 75%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    left: 5%;

    p {
      color: white;
      font-weight:bold;
      font-size: 1em;
      margin-left: 5%;
    }

    .card .item {
      background:lighten( $modal-background, 10% );
      color: white;
    }
}


.spinner svg {
  width: 35px;
  height: 35px;
}

.ion-close-circled {
  color: red;
  font-size: 35px;
}

.register-modal {
    width: 90%;
    height: 70%;
    top: 10%;
    bottom: 20%;
    right: 5%;
    left: 5%;
}

.logout-modal {
    width: 70%;
    height: 25%;
    top: 30%;
    bottom: 30%;
    right: 15%;
    left: 15%;
}

body {
 background-color: white;
}

.alert {
  color: red;
}


/* Add a gray background color and some padding to the footer */
footer {
 background-color: rgb(32, 33, 31);
 padding: 25px;
 color: white;
 height: 200px;

 ul {
   list-style-type: none;
 }

 h5 {
   font-size: 1.1em;
 }

 a {
   color: white;
 }

}
.sensorTitle {
  font-size: 1.5em;
  color: gray;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}


.dashboard {
  font-size:1.5em;
  margin-bottom:2%;
  color: black;
}

.status-panel {
  border-top: solid 1px gray;
}

.box {
  color: white;
  padding: 10px;
  margin-bottom: 3%;
  height: 80px;
}

.box.devices {
    background-color:#F44336;
    border-color: #e73629;

  }

  .box.sensors {
    background: #4CAF50;
    border-color: #3fa243;
  }

  .box.messages {
    border-color: #1489e6;
    background: #2196F3;
  }

  .box.alarms {
    border-color: #f24a15;
    background: #FF5722;
  }

  .box-account {
    background: white;
    border-color: gray;
  }

.box-livedata {
  border: gray 1px solid;
  margin: 5% 5% 15% 5%;

  .sensorName {
    font-size: 1.2em;
    color: rgb(226, 79, 7);
  }
  .sensorData {
    font-size: 1.5em;
    color: gray;
  }

}

.title {
    // position: absolute;
    // bottom: 8px;
    // right: 20px;
    font-size: 1em;
    font-family: arial;
    color:white;
  }

  .circle {
    // position: absolute;
    //   top: 8px;
    //   right: 30px;
      font-size: 1.5em;
      font-family: arial;
  }

.on {
  font-size:0.8em;
  color: white;
  background-color:rgb(244, 4, 68);
  border-radius: 10px;
  border-color: white;
  font-family: arial;
  position: absolute;
  top: 20px;
  right: 35px;
  box-shadow: none important;
}

.off {
  font-size:0.8em;
  color: white;
  background-color:rgb(64, 190, 38);
  border-radius: 10px;
  border-color: white;
  font-family: arial;
  position: absolute;
  top: 20px;
  right: 35px;
  box-shadow:none;

}



.plus-list {
  font-family: arial;
  font-size:1.7em;
  color: white;
  position: relative;
  bottom: 50%;
  left: 58%;
}

small {
  font-family: arial;
  font-size:0.65em;

}


.main {
    height: 350px;
    background-image: url("../img/Motherboard_450.jpg");
    background-size: cover;
    a {
      margin: 20px;
    }
    h2 {
      margin-top: 75px;
      margin-bottom: 0px;
      color: white;
      font-size:3.3em;
      text-shadow: 2px 2px #000000;

    }
}

h3 {
  small {
    font-size: 1em;
    color:white;
    text-shadow: 2px 2px #000000;

  }
}

h4 {
  font-size: 1.5em;
  color:white;
}

.example-box {
  padding-top: 30px;
  color:white;
  background-color:$secondary-color;
  height:400px;
  font-weight: bold;

  p {
    font-size: 1.2em;
  }

  .ion-wifi {
    font-size: 4em;
    color:white;
  }

  .ion-ios-monitor-outline {
    font-size: 4em;
    color:white;
  }

  .ion-android-phone-portrait {
    font-size: 4em;
    color:white;

  }
}
